.Massage {
  width: 220px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.8rem;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  transition: transform ease-in 500ms, opacity ease-in 300ms;
  z-index: 999;
}
.boxSvg {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: red;
  padding-right: 0.5rem;
}
.boxSvg > svg {
  width: 28px;
  height: 28px;
  background-color: #fff;
  color: red;
  border-radius: 50%;
}
.text {
  padding-right: 0.5rem;
  font-size: 0.9rem;
}
