.spinnerContainer {
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(4px);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  z-index: 150;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, #90a4ae);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 5px), #000 0);
  animation: rotate 300ms infinite linear;
}
@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
