.containerAddress {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.containerAddress > p {
  color: #838790;
}
.containerAddress > div {
  display: flex;
  align-items: flex-start;
  gap: 5rem;
}
.containerAddress > div > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.containerAddress > div > div > p {
  color: #838790;
}
@media screen and (max-width: 400px) {
  .containerAddress > p {
    font-size: 0.8rem;
  }
  .containerAddress > div {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
  }
  .containerAddress > div > div > h4 {
    font-size: 0.9rem;
  }
  .containerAddress > div > div > p {
    font-size: 0.8rem;
  }
}
