.containerCheckOut {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
  padding: 0 1rem;
}
.SpecificationsUser {
  width: 50%;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.boxInput {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.boxInput > input {
  width: 400px;
  height: 42px;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  padding-right: 0.5rem;
  text-align: right;
}
.boxInputNote {
  display: flex;
  flex-direction: column;
}
.boxInputNote > textarea {
  height: 100px;
  padding-right: 0.5rem;
  text-align: right;
  border: 1px solid #e1e1e1;
  background-color: #fff;
}
.form > button {
  border: none;
  border-radius: 20px;
  width: 80px;
  height: 42px;
}
/* ------------------- */
.myOrder {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.containerSpecificationsUserProduct {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.topContainerSpecificationsUserProduct {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.SpecificationsUserProduct {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  border-top: 2px solid #e1e1e1;
}
.SpecificationsUserProduct > div > svg {
  width: 20px;
  height: 20px;
  color: #767676;
}
.SpecificationsUserProduct > div {
  display: flex;
  align-items: center;
}
.SpecificationsUserProduct > div > img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.CostOfOrderedProducts {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #e1e1e1;
}
.ShippingCost {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #e1e1e1;
}
.Total {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #e1e1e1;
}
.containetPaymentMethod {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 2px solid #e1e1e1;
}
.containetPaymentMethod > div {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.OrderDescription {
  width: 100%;
  padding: 1rem;
}
.OrderDescription > p > a {
  color: rgb(46, 173, 233);
  text-decoration: none;
}
.orderBtn {
  width: 100%;
  padding: 1rem;
}
.orderBtn > button {
  width: 100%;
  height: 42px;
  border: none;
  color: #fff;
  transition: all ease-in 150ms;
  background-color: #2f46ef;
  border-radius: 20px;
}
.orderBtn > button:hover {
  background-color: rgb(46, 173, 233);
}
@media screen and (max-width: 1020px) {
  .form > div > span,
  .form > div > p,
  .form > div > label,
  .SpecificationsUserProduct > div > h6,
  .SpecificationsUserProduct > div > p,
  .containerSpecificationsUserProduct > div > p,
  .containerSpecificationsUserProduct > div > span,
  .containetPaymentMethod > div > label,
  .OrderDescription > p,
  .OrderDescription > p > a,
  .boxInputNote > textarea::placeholder {
    font-size: 0.8rem;
  }
  .boxInput > input {
    width: 300px;
  }
}
@media screen and (max-width: 790px) {
  .containerCheckOut {
    flex-direction: column;
    align-items: center;
  }
  .containerCheckOut > div {
    width: 100%;
  }
  .boxInput {
    width: 100%;
  }
  .boxInput > label {
    width: 20%;
  }
  .boxInput > input {
    width: 80%;
  }
}
