.CompleteOrder {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1.5rem auto;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.box1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
}
.box2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.box2 > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
@media screen and (max-width: 790px) {
  .CompleteOrder {
    width: 95%;
  }
  .box1 > p > span,
  .box1 > h2,
  .box1 > span,
  .box2 > div > p > span {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 450px) {
  .box2 > div {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
}
