.linkCart {
  width: 190px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
  border: solid 1px #ecebeb;
  background-color: #ffffff;
  padding: 1rem 0;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: #242424;
}
.boxImg {
  width: 189px;
  height: 199px;
  overflow: hidden;
}
.boxSvgLike {
  border: none;
  background-color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  position: absolute;
  left: 8px;
  top: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 49px;
  transform: translateX(-50px);
  transition: all ease-in 200ms;
  z-index: 100;
}
.boxSvgLike > svg {
  width: 20px;
  height: 20px;
  color: #242424;
}
.boxImg > img {
  width: 189px;
  height: 199px;
  object-fit: cover;
  transition: all ease-in 200ms;
}
a > h3 {
  font-size: 0.8rem;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
}
.linkCart > span {
  color: #2eade9;
  font-size: 0.9rem;
}

.linkCart:hover > .boxSvgLike {
  transform: translateX(0px);
}
.linkCart:hover > .boxImg > img {
  transform: scale(1.1);
}

@media screen and (max-width: 520px) {
  .linkCart {
    width: 160px;
  }
  .boxImg {
    width: 150px;
    height: 170px;
  }
  .linkCart > .boxImg > img {
    width: 150px;
    height: 170px;
  }
  .linkCart a > h3 {
    font-size: 0.6rem;
    height: 22px;
    line-height: 22px;
  }
  .linkCart > span {
    font-size: 0.6rem;
  }
}
