.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  padding: 1rem;
  overflow: hidden;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 1.5rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}
.topContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.topContainer > a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  width: 170px;
  text-decoration: none;
  color: #242424;
}
.topContainer > a > svg {
  width: 17px;
  height: 17px;
  color: #242424;
}
.topContainer > span {
  width: 85%;
  height: 2px;
  background-color: #ecebeb;
}
.topContainer > h2 {
  font-size: 0.9rem;
  width: 170px;
  text-align: right;
}
.containerCart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  overflow: hidden;
  width: 100%;
}
.container > .containerCart > a {
  width: 190px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;

  border: solid 1px #ecebeb;
  padding: 1rem 0;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: #242424;
}

@media screen and (max-width: 520px) {
  .topContainer > h2,
  .topContainer > a {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 365px) {
  .topContainer > h2,
  .topContainer > a {
    font-size: 0.5rem;
  }
  .topContainer > a > svg {
    width: 13px;
  }
}
